@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    font-family: 'Press Start 2P', cursive;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    color: white;
}
@keyframes colors {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
body{
    background: linear-gradient(45deg, #03001C,#301E67,#5B8FB9);
    background-size: 300% , 300%, 300%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: colors 15s ease infinite;
}
@media screen and (max-width: 768px){
    body{
        padding: 0 10px 0 10px;
    }
}
h1{
    max-width: 550px;
    margin-bottom: 24px;
}
@media screen and (max-width: 768px){
    h1{
        text-align: center;
    }
}
.container-input{
    max-width: 480px;
    margin: 14px 0;
}
.container-input span{
    font-size: 22px;
}
@media screen and (max-width: 768px){
.container-input{
        text-align: center;
        padding: 0 20px 0 20px;
    }
}
.slider{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
    height: 18px;
    outline: none;
    margin-top: 8px;
}
.button-cta{
    height: 40px;
    background-color: #3EB72B;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 18px;
}
.button-cta:hover{
    background-color: #0D8217;
}
.container-password{
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.title{
    text-align: center;
    font-size: 22px;
    margin-top: 24px;
    margin-bottom: 8px;
}
.password{
    font-size: 13px;
    height: 60px;
    background-color: rgba(0,0,0, 0.40);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.password:hover{
    transform: none;
}
.tooltip{
    position: relative;
    top: 20px;
    padding: 6px 8px;
    background-color: rgba(0,0,0, 0.40);
    text-align: center;
    font-size: 15px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 768px){
    .tooltip{
    visibility: visible;
    font-size: 12px;
    opacity: 100;
    border-radius: 4px;
        }
    }
.hide{
    display: none;
}
.container-password:hover .tooltip{
    visibility: visible;
    bottom: 50px;
    opacity: 1;
}